@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');
*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
    font: none;
}
body {
    background: linear-gradient(to bottom right, #ECB739, #278B5F); /* Fundo padrão para todas as páginas */
}

.pag-init{
    background: linear-gradient(135deg, #278B5F 0%, #ECB739 100%); /* Gradiente de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blogin{
    background: linear-gradient(135deg, #278B5F 0%, #ECB739 100%); /* Gradiente de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Plus Jakarta Sans', sans-serif; /* Aplicando a nova fonte */
}

a{
    text-decoration: none;
    color: #278B5F;
}

.video-background {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.ab{
    color: #fff;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay escuro */
    z-index: 2;
}

.content {
    position: relative;
    z-index: 3;
    color: white;
    text-align: center;
    padding: 20px;
}

.logo {
    width: 150px; /* Ajuste o tamanho conforme necessário */
}

h1, h2 {
    color: #278B5F;
}

.buttonA {
    position: relative;
    top: 20px;
    width: 100%;
    background-color: rgb(253,200,47); /* Amarelo da Petrobrás */
    color: #278B5F; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    cursor: pointer;
}

.buttonA:hover {
    background-color: #ECB739;
}

.button {
    background-color: #278B5F;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

.button:hover {
    background-color: #218751;
}

.header {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #278B5F;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218751;
}

.fornecedores-list {
    width: 100%;
    border-collapse: collapse;
}
.fornecedores-list th{
    background-color: #278B5F;
    color: white;
}

.fornecedores-list td{
    font-size: medium;
}
.fornecedores-list th, .fornecedores-list td {
    border: 1px solid #ddd;
    padding: 8px;
}




.voltar-link {
    display: block;
    margin-top: 20px;
    text-align: center;
}

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #278B5F;
    border-radius: 8px;
    background-color: #fff;
}

.login-form .input-group {
    margin-bottom: 15px;
}

.login-form .input-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    display: block;
    margin: 10px 0;
    text-align: right;
}

.nav-links {
    margin-top: 20px;
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 10px 0;
}

.nav-links a {
    text-decoration: none;
    color: #278B5F;
    padding: 10px;
    border: 1px solid #278B5F;
    border-radius: 4px;
}

.nav-links a:hover {
    background-color: #278B5F;
    color: white;
}

#container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

#logo-petrobras {
    text-align: center;
}


#listagem-produto {
    margin-top: 20px;
}

#listagem-produto table {
    width: 100%;
    border-collapse: collapse;
}

#listagem-produto th, #listagem-produto td {
    border: 1px solid #ddd;
    padding: 8px;
}

#listagem-produto th {
    background-color: #278B5F;
    color: white;
}

#pesquisa {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#pesquisa input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#pesquisa input[type="button"] {
    padding: 10px 15px;
    background-color: #278B5F;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#pesquisa input[type="button"]:hover {
    background-color: #218751;
}
.cadastro-container {
    background-color: #ffffff;
    width: 800px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid #278B5F;
    position: relative;
    left: 17.5%;
    padding: 20px;
}

.header {
    margin-bottom: 30px; /* Espaço abaixo do cabeçalho */
}

.logo {
    max-width: 150px; /* Ajuste para o tamanho desejado */
    max-height: 100px; /* Limite a altura para evitar que fique muito alta */
    height: auto; /* Mantém a proporção da logo */
    margin-bottom: 15px; /* Espaço abaixo da logo */
}

.cadastro-container h1, .cadastro-container h2 {
    color: #278B5F; 
    margin-bottom: 10px; /* Espaço abaixo dos títulos */
}

.cadastro-form {
    margin-bottom: 30px; /* Espaço abaixo do formulário */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; /* Efeito de transição */
}

.input-group input:focus {
    border-color: #278B5F; /* Borda verde ao focar no input */
    box-shadow: 0 0 5px rgba(39, 139, 95, 0.5); /* Sombra ao focar */
}

.buttonsty1{
    width: 20%;
    background-color: #ECB739; /* Amarelo da Petrobrás */
    color: #006400; /* Texto verde */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Efeito de transição */
}

.buttonsty1:hover{
    background-color: #ECB739; 
    transform: scale(1.05); /* Leve aumento no hover */
}

h3 {
    margin: 20px 0; 
    color: #006400; /* Verde mais escuro */
    font-size: 1.5rem; 
}
.fornecedores-list tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada para linhas */
}

.fornecedores-list tr:hover {
    background-color: #e0f7fa; /* Efeito de hover nas linhas */
}

.voltar-link {
    display: inline-block;
    margin-top: 20px;
    color: #278B5F; /* Verde da Petrobrás */
    text-decoration: none;
    font-weight: bold; /* Negrito para o link */
}

.voltar-link:hover {
   color: #278B5F;
}

.login-container {
    background-color: #ffffff;
    padding: 35px;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h3 {
    margin-bottom: 20px;
    color: #278B5F; 
    font-size: 1.5rem;
}

.login-form1 label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.login-form1 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

#btn-login {
    width: 100%;
    background-color: #ECB739; /* Amarelo da Petrobrás */
    color: #278B5F; 
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

#btn-login:hover {
    background-color: #e6b800; /* Tom mais escuro de amarelo no hover */
}

.forgot-password1 {
    display: block;
    margin: 10px 0;
    color: #278B5F;
    text-decoration: none;
    font-size: 0.9rem;
}

.forgot-password1:hover {
    text-decoration: underline; /* Sublinha no hover */
}

.video-background {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Escurece o fundo para melhor legibilidade */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.logo3 {
    max-width: 150px; /* Ajuste o tamanho máximo da logo */
    margin-bottom: 20px; /* Espaço abaixo da logo */
}

.titulo {
    font-size: 4rem;
    padding: 20px;
    border: 2px solid #fff;
    transition: all 0.3s ease;
}

.titulo:hover {
    color: transparent; /* Texto invisível ao passar o mouse */
    background-color: transparent; /* Mantém o fundo transparente */
    border-color: #fff; /* Mantém apenas a borda */
}

.buttons {
    margin-top: 30px; /* Espaço acima dos botões */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ECB739; 
    color: #006400;
    text-decoration: none;
    border-radius: 4px;
    transition: 0.3s, transform 0.3s; /* Efeitos de transição */
}

.button:hover {
    background-color: #D8A32A; /* Alterar a cor ao passar o mouse */
    transform: scale(1.05); /* Leve aumento no hover */
}

.main-container1 {
    background-color: #ffffff;
    padding: 40px;
    width: 450px;
    border-radius: 12px; /* Borda mais arredondada */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    text-align: center;
    border: 2px solid #278B5F; /* Borda com a cor oficial */
}

.logo2 {
    max-width: 100%; /* Para garantir que a logo não ultrapasse o quadro */
    height: auto; /* Mantém a proporção */
    margin-bottom: 20px; /* Espaço abaixo da logo */
}

.main-container h1 {
    margin-bottom: 15px;
    color: #278B5F; 
    font-size: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); /* Sombra do texto */
}

.main-container h2 {
    margin-bottom: 25px;
    color: #333; 
    font-size: 1.5rem; 
}

.nav-links ul {
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 30px 0; /* Espaçamento maior entre os links */
}

.nav-links a {
    text-decoration: none;
    color: #ffffff; 
    font-size: 1.1rem; 
    padding: 12px 20px; 
    background-color: #006400;
    border-radius: 5px; /* Bordas arredondadas */
    transition: background-color 0.3s, transform 0.3s; /* Efeito de transição */
}

.nav-links a:hover {
    background-color: #005200;
    transform: scale(1.05); /* Leve aumento no hover */
}


#caixa-cadastro{
    height: 60%;
    width: 700px;
    padding: 20px;
    border: #E3DDDD 5px solid;
    border-radius: 20px;
    background-color: rgba(255,255,255);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 20%;
}
#caixa-cadastro form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
#caixa-cadastro h1{
    font-size: xx-large;
    line-height: 80%;
    color: rgb(253, 200, 47);
}
#caixa-cadastro h2{
    font-size: larger;
    color: rgb(0, 133, 66);
}
#fornecedor-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
.nome-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#descricao-produto{
    background-color: rgb(250,250,250);
    height: 75px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#preco-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#btn{
    background-color: rgb(253,200,47);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 85%;
    color: rgb(0,133,66);
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover{
    background-color: #ECB739;
}

#listagem-produto a{
    font-size: small;
}


#lista-itens{
    background-color: #FBFBFB;
    width: 800px;
    height: 100%;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    text-align: center;
    border: 5px #E3DDDD solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
#pesquisa{
    width: 85%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E3DDDD;
    border: #524848 2px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pesquisa #btn{
    background-color: #fdc82f;
    color: #008542;
    width: 20%;
    padding: 5px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
#pesquisa #btn:hover{
    background-color: #ECB739;
}
#pesquisa #barra{
    width: 50%;
    height: 20px;
    border: #524848 2px solid;
    border-radius: 7px;
}
#pesquisa select{
    border: #524848 2px solid;
    border-radius: 7px;
    width: 25%;
    height: 25px;
}
#lista-itens h1{
    font-size: xx-large;
    color: #fdc82f;
    line-height: 80%;
}
#lista-itens h2{
    font-size: larger;
    color: #008542;
}

.cdp{
    position: relative;
    left: 20%;
    max-width: 80%;
}

/* Estilo para imagens dentro da tabela */
.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
.cadastro-container table td{
    font-size: 15px;
}
input{
    max-width: 90%;
    margin: 0 0 5px 0;
}

.select{
    color: #524848;
    font-size: small;
}
.number{
    border: solid 1px #524848;
    border-radius: 6px;
}