@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
p{
    font-weight: bold;
}
#container{
    display: flex;
    background: linear-gradient(to bottom right, rgb(253,200,47),rgb(0,133,66));
    padding-bottom: 5%;
    justify-content: center;
    width: 100%;
    padding-bottom: 50%;
}
#caixa-cadastro{
    height: 100%;
    width: 550px;
    margin: 5%;
    padding: 20px;
    border: #E3DDDD 5px solid;
    border-radius: 20px;
    background-color: rgba(255,255,255);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}
#caixa-cadastro h1{
    font-size: xx-large;
    line-height: 80%;
    color: rgb(253, 200, 47);
}
#caixa-cadastro h2{
    font-size: larger;
    color: rgb(0, 133, 66);
}
#fornecedor-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#nome-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#descricao-produto{
    background-color: rgb(250,250,250);
    height: 75px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#preco-produto{
    background-color: rgb(250,250,250);
    height: 25px;
    width: 85%;
    border: 1px black solid;
    border-radius: 3px;
}
#btn{
    background-color: rgb(253,200,47);
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
    width: 85%;
    color: rgb(0,133,66);
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 4px;
    cursor: pointer;
}
#btn:hover{
    background-color: #ECB739;
}
#caixa-cadastro table{
    background-color: #524848
}
#caixa-cadastro th{
    background-color: #E3DDDD;
    text-align: left;
    padding: 2px;
}
#caixa-cadastro td{
    background-color: #E3DDDD;
    padding: 2px;
}
#listagem-produto a{
    font-size: small;
}
@media screen and (max-width: 426px) {
    #caixa-cadastro {
        width: 90%;
        padding: 20px 5px;
        margin: 0;
        align-content: center;
    }
    #caixa-cadastro h1 {
        font-size: larger;
    }
    #caixa-cadastro h2 {
        font-size: medium;
    }
    #caixa-cadastro input {
        width: 90%;
        font-size: small;
    }
    #caixa-cadastro table{
        font-size: 9px;
        padding: 0;
    }
}
@media (min-width: 1440px) and (max-width: 2559px){
    #caixa-cadastro{
        width: 80%;
        font-size: 25px;
    }
    #caixa-cadastro h1{
        font-size: 50px;
    }
    #caixa-cadastro input{
        height: 30px;
        font-size: 20px;
        padding: 5px;
    }
    #caixa-cadastro textarea{
        height: 200px;
        font-size: 20px;
        padding: 5px;
    }
    #caixa-cadastro #btn{
        font-size: 1.5rem;
        height: 40px;
    }
}
@media screen and (min-width: 2560px) {
    #caixa-cadastro{
        width: 80%;
        font-size: 50px;
        border: #E3DDDD 10px solid;
        border-radius: 20px;
    } 
    #caixa-cadastro h1{
        font-size: 80px;
    }
    #caixa-cadastro table{
        padding: 5px;
    }
    #caixa-cadastro tr {
        padding: 10px;
        margin: 5px;
    }
    #caixa-cadastro th{
        padding: 10px;
        margin: 5px;
    }
    #caixa-cadastro #nome-produto{
        height: 50px;
        font-size: 40px;
        padding: 7px;
        border-radius: 10px;
    }
    #caixa-cadastro textarea{
        height: 400px;
        font-size: 40px;
        padding: 7px;
        border-radius: 10px;
    }
    #caixa-cadastro #preco-produto{
        height: 50px;
        font-size: 40px;
        padding: 7px;
        border-radius: 10px;
        margin-bottom: 20px;
    }
    #caixa-cadastro select{
        font-size: 30px;
        height: 70px;
        padding: 7px;
        border-radius: 15px;
    }
    #caixa-cadastro #btn{
        font-size: 2.5rem;
        border-radius: 15px;
    }
}