* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom right, #ECB739, #278B5F); /* Gradiente do amarelo ao verde */
}

.cadastro-container {
    background-color: #ffffff;
    padding: 40px;
    width: 500px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    border: 2px solid #278B5F;
    margin: 50px auto; /* Centraliza na página */
}

.header {
    margin-bottom: 30px; /* Espaço abaixo do cabeçalho */
}

.logo {
    max-width: 150px; /* Ajuste para o tamanho desejado */
    max-height: 100px; /* Limite a altura para evitar que fique muito alta */
    height: auto; /* Mantém a proporção da logo */
    margin-bottom: 15px; /* Espaço abaixo da logo */
}

.cadastro-container h1, .cadastro-container h2 {
    color: #278B5F; 
    margin-bottom: 10px; /* Espaço abaixo dos títulos */
}

.cadastro-form {
    margin-bottom: 30px; /* Espaço abaixo do formulário */
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s; /* Efeito de transição */
}

.input-group input:focus {
    border-color: #278B5F; /* Borda verde ao focar no input */
    box-shadow: 0 0 5px rgba(39, 139, 95, 0.5); /* Sombra ao focar */
}

button {
    width: 100%;
    background-color: #ECB739; /* Amarelo da Petrobrás */
    color: #006400; /* Texto verde */
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Efeito de transição */
}

button:hover {
    background-color: #ECB739; 
    transform: scale(1.05); /* Leve aumento no hover */
}

h3 {
    margin: 20px 0; 
    color: #006400; /* Verde mais escuro */
    font-size: 1.5rem; 
}

.fornecedores-list {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fornecedores-list th, .fornecedores-list td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.fornecedores-list th {
    background-color: #f0f0f0; /* Cor de fundo para o cabeçalho */
    color: #278B5F; /* Verde dos cabeçalhos */
}

.fornecedores-list tr:nth-child(even) {
    background-color: #f9f9f9; /* Cor de fundo alternada para linhas */
}

.fornecedores-list tr:hover {
    background-color: #e0f7fa; /* Efeito de hover nas linhas */
}

.voltar-link {
    display: inline-block;
    margin-top: 20px;
    color: #278B5F; /* Verde da Petrobrás */
    text-decoration: none;
    font-weight: bold; /* Negrito para o link */
}

.voltar-link:hover {
   color: #278B5F;
}