@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&display=swap');

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
#container{
    display: flex;
    width: 100%;
    padding-bottom: 50%;
    background: linear-gradient(to bottom right, rgb(253,200,47),rgb(0,133,66));
    justify-content: center;
}
#lista-itens{
    background-color: #FBFBFB;
    width: 550px;
    height: 100%;
    padding: 20px;
    margin: 5%;
    border-radius: 20px;
    text-align: center;
    border: 5px #E3DDDD solid;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}
#pesquisa{
    width: 85%;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #E3DDDD;
    border: #524848 2px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#pesquisa #btn{
    background-color: #fdc82f;
    color: #008542;
    width: 20%;
    padding: 5px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}
#pesquisa #btn:hover{
    background-color: #ECB739;
}
#pesquisa #barra{
    width: 50%;
    height: 20px;
    border: #524848 2px solid;
    border-radius: 7px;
}
#pesquisa select{
    border: #524848 2px solid;
    border-radius: 7px;
    width: 25%;
    height: 25px;
}
#lista-itens h1{
    font-size: xx-large;
    color: #fdc82f;
    line-height: 80%;
}
#lista-itens h2{
    font-size: larger;
    color: #008542;
}
#lista-itens table{
    background-color: #524848;
}
#lista-itens th{
    background-color: #E3DDDD;
    padding: 2px;
    text-align: left;
}
#lista-itens td{
    background-color: #E3DDDD;
    padding: 2px;
}
#lista-itens td a{
    font-size: small;
}
@media screen and (max-width: 426px) {
    #lista-itens {
        width: 90%;
        padding: 20px 5px;
        margin: 0;
        align-content: center;
    }
    #lista-itens h1 {
        font-size: larger;
    }
    #lista-itens h2 {
        font-size: medium;
    }
    #pesquisa {
        width: 90%;
        margin: 10px;
        padding: 3px;
    }
    #pesquisa #btn{
        font-size: 9px;
        border-radius: 1px;
        height: 80%;
    }
    #pesquisa select{
        font-size: 9px;
    }
    #lista-itens table{
        font-size: 9px;
    }
}
@media (min-width: 426px) and (max-width: 769px){
    #pesquisa{
        padding: 5px;
        width: 90%;
    }
    #lista-itens table{
        font-size: medium;
    }
}
@media (min-width: 1440px) and (max-width: 2559px){
    #lista-itens{
        width: 80%;
        font-size: 25px;
    }
    #lista-itens h1{
        font-size: 50px;
    }
    #pesquisa #btn{
        font-size: 1.5rem;
    }
    #pesquisa #barra{
        height: 30px;
        font-size: +20px;
    }
    #pesquisa select{
        font-size: 20px;
        height: 35px;
    }
}
@media screen and (min-width: 2560px) {
    #lista-itens{
        width: 80%;
        font-size: 50px;
        border: #E3DDDD 10px solid;
        border-radius: 20px;
    } 
    #lista-itens h1{
        font-size: 80px;
    }
    #lista-itens table{
        padding: 5px;
    }
    #lista-itens tr {
        padding: 10px;
        margin: 5px;
    }
    #lista-itens th{
        padding: 10px;
        margin: 5px;
    }
    #pesquisa #btn{
        font-size: 2.5rem;
        border-radius: 15px;
    }
    #pesquisa #barra{
        height: 50px;
        font-size: 40px;
        border-radius: 15px;
    }
    #pesquisa select{
        font-size: 30px;
        height: 55px;
        border-radius: 15px;
    }
}